<html>

    <head>
       

        <style>
            .my-heading{
                color:green
            }
        </style>
    </head>

    <body>
        <h1 class="my-heading">Good bye from Django Template</h1>
        <table border="1">
            <thead>
                <tr>
                    <td style="color:yellowgreen">S.No</td>
                    <td>Tech</td>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>01</td>
                    <td>Python</td>
                </tr>
                <tr>
                    <td>02</td>
                    <td>Django</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>