<html>
    <head>
        
    </head>
    <body>
        <h1> {{heading1}} </h1>

        <table border="2">
            <thead>
                <tr>
                    <th>Username</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Position</th>
                <th>Salary</th>
                </tr>
            </thead>

            <tbody>
                {% for user in users_list_1 %}
                <tr>
                    <td> {{user.username}} </td>
                    <td> {{user.gender}} </td>
                    <td> {{user.age}} </td>
                    <td> {{user.position}} </td>
                    <td> {{user.salary}} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


        <hr/>

        <h1> {{heading2}} </h1>

        <table border="2">
            <thead>
                <tr>
                    <th>Username</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Position</th>
                <th>Salary</th>
                </tr>
            </thead>

            <tbody>
                {% for user in users_list_2 %}
                <tr>
                    <td> {{user.username}} </td>
                    <td> {{user.gender}} </td>
                    <td> {{user.age}} </td>
                    <td> {{user.position}} </td>
                    <td> {{user.salary}} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>